<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Editor</title>
    <link rel="stylesheet" href="/assets/css/app.css">
  </head>
<body>
  <h1>Welcome [[${fullname}]] <a class="logout" href="/logout">Logout</a></h1>
  <p>TinyMCE editor instance setup with Tiny Drive integated into the link, image and media dialogs and with a separate direct insertfile button.</p>
  <textarea></textarea>
  <script th:src="@{https://cloud.tinymce.com/5/tinymce.min.js(apiKey=${apiKey})}"></script>
  <script src="/assets/js/init.js"></script>
</body>
</html>
